.form-container {
    padding: 1rem;
    max-width: 45rem;
    border-radius: 8px;
    background: linear-gradient(180deg, var(--color-primary), var(--color-secondary-1));
    box-shadow: var(--shadow-small);
    margin-bottom: 1rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 1.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.3rem;
}

label {
    margin-bottom: 0.25rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: var(--border-small);
    border-radius: 0.4rem;
    background-color: transparent;
    color: #c2e9e0;
    font-size: 1rem;
}

input:focus {
    outline: none;
    border: var(--border-medium);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.actions {
    grid-column: span 2;
}

button {
    width: 100%;
    padding: 0.5rem;
    border: var(--border-small);
    border-radius: 0.4rem;
    background-color: var(--color-accent-1);
    color: var(--color-text-dark);
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-accent-2);
}

@media (max-width: 640px) {
    form {
        grid-template-columns: 1fr;
    }
    .actions {
        grid-column: span 1;
    }
}
