table {
    table-layout: fixed;
    border-collapse: collapse;
    text-align: left;
    color: var(--color-text-light);
    width: 100%;
    background-color: var(--color-bg-secondary);
    border-radius: 8px;
}
table thead tr {
    border-bottom: 1px solid var(--color-stroke);
}

th,
td {
    padding: 0.6rem 0.8rem;
}

table thead {
    color: var(--color-accent-1);
    font-size: 0.7rem;
}

table tbody {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.85rem;
    color: var(--color-text-light);
}
