@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}

.center {
  text-align: center;
}

:root {
  --color-primary: #4f46e5;
  --color-secondary: #14b8a6;
  --color-accent: #f59e0b;
  --color-bg: #f9fafb;
  --color-text: #111827;

  --color-surface: #ffffff;
  --color-border: #e5e7eb;
}
